label, p,pre{
    font-size: 20px;
}

svg{
    height: 20px;
    width: 20px;
}











body{
    background-color: #fdb44b;
    
}
h1{
    color: #00204a;
}
header{
    
    background-color: #005792 ;
    height: 50px;
}
nav a{
    color: #ffffff;
    text-underline-offset: 10000px;
    margin: 10px;
    font-size: 25px;
    transition: all 0.5s ease;
    float: right;
    
}

nav a:hover{
    color: white;
    background-color: #034672f3;
    transform: scale(1.1);
    border-radius: 5px;
}




/** footer**/
footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color: #37475a;
    height:50px;
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 0.85rem;

}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: center;
    height: 200px ;
   
   
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    color:#dddddd;
}
ul p{
    font-weight: 700;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image: url(amazon_logo.png);
    height: 50px;
    width:80px;
    background-size: cover;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{  
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}

#top{
    text-underline-offset: 1000px;
     size: 10px;
     color: white;    
}
#top:hover{
    cursor: pointer;
}