body{
text-align: center;
justify-self: center;
background-color:#fdb44b ;
}

h1{
    color: #00204a ;
}

table{
font-size: 20px;
background-color: #ca882a;
box-shadow: 5px 5px 2px #694007;
}
th, td {
height: 40px;
width: 250px;
}
#btn{
font-size: 15px;
margin: 5px;
background-color: white;
color: black;
border-radius: 5px;
box-shadow: 3px 3px 2px rgb(99, 99, 99);

transition: all 0.5s ease;
}

#rbtn{
font-size: 15px;
margin: 5px;
background-color: white;
color: black;
border-radius: 5px;
box-shadow: 3px 3px 2px rgb(99, 99, 99);

transition: all 0.5s ease;
}

#rbtn:hover{
background-color: rgb(255, 32, 32);
color: white;
}

#btn:hover{
background-color: rgb(221, 221, 56);
color: white; 
}
#nbtn{
font-size: 25px;
margin: 20px;
background-color: white;
color: black;
border-radius: 5px;
transition: all 0.5s ease;
float: left;
margin-left: 260px;
}

#nbtn:hover{
background-color: gold;
color: white;
transform: scale(1.05);
}