body{
    text-align: center;
    justify-self: center;
}

table{
    font-size: 20px;
   background-color: rgb(235, 235, 235);
}
th, td {
    height: 40px;
    width: 250px;
}
#btn{
    font-size: 15px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(99, 99, 99);
    transition: all 0.5s ease;
}

#btn:hover{
    background-color: rgb(60, 60, 60);
    color: white;
   
}
#nbtn{
    font-size: 25px;
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: all 0.5s ease;
    float: left;
    
}

#nbtn:hover{
    background-color: rgb(60, 60, 60);
    color: white;
   transform: scale(1.05);
}