body{
    background-color: #fdb44b;
    text-align: center;
}
h1 ,h2{
    color: #00204a ;
}

.container{
    background-color:#ca882a;
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    height: 480px;
    border-radius: 10px;
    justify-content: space-evenly;
}
.box{
    background-color: #005792;
    height: 130px;
    width: 230px;
    /* margin: 10px; */
    border-radius: 7px;
    box-shadow: 5px 5px 2px #694007;
    transition: all 0.5s ease-in-out;
    margin-left: 120px;
    margin-top: 200px;
    border: 2px solid black;
}
.box:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.box h3,.box p{
   
    justify-self: center;
    color: white;
}
a{
    color:black ;
    text-underline-offset: 10000px;
}
svg{
    filter: grayscale(100);
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
    
}