body{
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.container{
    background-color: rgb(208, 207, 207);
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    height: 480px;
    border-radius: 10px;
    justify-content: space-evenly;
}
.box{
    background-color: rgb(198, 198, 198);
    height: 130px;
    width: 230px;
    /* margin: 10px; */
    border-radius: 7px;
    box-shadow: 5px 5px 2px grey;
    transition: all 0.5s ease-in-out;
    margin-left: 120px;
    margin-top: 200px;
    border: 2px solid black;
}
.box:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.box h4{
   
    justify-self: center;
}
a{
    color:black ;
    text-underline-offset: 10000px;
}
svg{
    filter: grayscale(100);
    height: 50px;
    width: 50px;
    margin-bottom: -20px;
    
}